*{
    box-sizing: border-box;

}
a{
    color: #000;
    text-decoration: inherit;
    display: inline-block;
}
body {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    color: #4a6385      ;
}
.container{
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
}
.header{
    border-top: 1px solid #3882e5;
}
.header__inner{
 display: flex;
 justify-content: space-between;
 align-items: center;
 min-height: 87px;
}
.menu__list{
    display: flex;
}
.menu__list li{
    margin-left: 38px;
}
.menu__list a{
    font-size: 14px;
    color: #4f545c;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.top{
    background-color: #3882e5;
    padding-top: 150px;
    padding-bottom: 180px;
}
.top__inner{
    display: flex;
}
.top-info {
    max-width: 555px;
    margin-right: 35px;
    color: #ffff;
}
.top-info__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
}
.top-info__descr {
    font-size: 19px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 35px;
}
.top-info__descr span {
    font-size: 14px;
    line-height: 24px;
    display: block;
    font-weight: 400;
}
.top-info__list {
    list-style: none;
    margin-bottom: 50px;
}
.top-info__list li {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    position: relative;
    padding-left: 24px;
}


.top-info__list li::before{
    content: "";
    background-image: url(../img/list-icon.png);
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top-info__btn {
    color:#fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 13px 44px;
    border-radius: 30px;
    margin-bottom: 15px;

}
.top-info__btn-descr {
    
}
.top-images {
}
.top-images__box {
}
.top-images__circle {
    width: 230px;
    height: 230px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #212121;
    position: absolute;
    top: 0;
    left: 0;
}
.top-images__title {
    margin-bottom: 10px;
    text-align: left;
    width: 140px;
}
}
.top-images__price {
    font-size: 54px;
    font-weight: 700; 
    margin-bottom: 5px;
   
}
.top-images__date {
    text-align: right;
    width: 140px;
}